<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gmail</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/static/css/homestyle.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script src="/static/js/scripts.js" defer></script>
		<script src="/static/js/speech.js" defer></script>
		<script src="/static/js/mailsent.js" defer></script>
		<script src="/static/js/theme.js" defer></script>
	</head>
	<body>
		<!-- Header Starts -->
		<div class="header">
			<div class="header__left">
				<span class="material-icons"> favorite </span>
				<h2>V-Mail</h2>
			</div>

			<div class="header__middle">
				<h2>Hola! Welcome to voice based mail for blind</h2>
			</div>
			<div class="header__right">
				<span class="material-icons">home</span>
				<a href="{{ url_for('mailhome') }}" id="home"><h3>M-Home</h3></a>
			</div>
		</div>
		<!-- Header Ends -->

		<div class="main__body">
			<!-- Sidebar Starts -->
			<div class="sidebar">
				<button class="sidebar__compose modal-btn">
					<span class="material-icons"> add </span
					><a href="{{ url_for('composemail') }}" id="compose">Compose</a>
				</button>
				<div class="sidebarOption sidebarOption__active">
					<span class="material-icons"> inbox </span>
					<a href="{{ url_for('mailinbox') }}" id="inbox"><h3>Inbox</h3></a>
				</div>

				<div class="sidebarOption">
					<span class="material-icons"> near_me </span>
					<a href="{{ url_for('mailsent') }}" id="sent"><h3>Sent</h3></a>
				</div>

				<div class="sidebarOption">
					<span class="material-icons"> star </span>
					<a href="{{ url_for('mailstarred') }}" id="starred"><h3>Starred</h3></a>
				</div>

				<div class="sidebarOption">
					<span class="material-icons"> delete </span>
					<a href="{{ url_for('mailtrash') }}" id="trash"><h3>Trash</h3></a>
				</div>

				<div class="sidebarOption">
					<span class="material-icons"> logout </span>
					<a href="{{ url_for('default') }}" id="logout"
						><button>Logout</button></a
					>
				</div>
				<div class="sidebar__footer"></div>
			</div>
			<!-- Sidebar Ends -->

			<div class="emailList">
				<div class="emailList__list">
					<!-- Email Row Starts -->
					<div class="emailRow modal-btn-mail">
						<h3 class="emailRow__title">Mounika</h3>

						<div class="emailRow__message">
							<h4>
								Are you always this retarded or are you making special effort
								today
								<span class="emailRow__description"> Joseph Pramodh </span>
							</h4>
						</div>

						<p class="emailRow__time">10pm</p>
					</div>
					<div class="emailRow modal-btn-mail">
						<h3 class="emailRow__title">Shivani</h3>

						<div class="emailRow__message">
							<h4>
								I cannot speak well enough to be unintelligent
								<span class="emailRow__description">Joseph Pramodh  </span>
							</h4>
						</div>

						<p class="emailRow__time">12pm</p>
					</div>
					<div class="emailRow modal-btn-mail">
						<h3 class="emailRow__title">Hemanjali</h3>

						<div class="emailRow__message">
							<h4>
								I wish, I could be octopus, so that I could slap you 8times
								<span class="emailRow__description"> Joseph Pramodh </span>
							</h4>
						</div>

						<p class="emailRow__time">10pm</p>
					</div>
					<!-- Email Row Ends -->
				</div>
			</div>
		</div>

		<div class="modal-overlay">
			<button>Send</button>
			<button class="close-btn">
				<i class="fas fa-times"></i>
			</button>
			<!-- </div> -->
		</div>

		<div class="modal-overlay-mail">
			<div class="modal-container-mail">
				Are you always this retarded or are you making special effort today
				<button class="close-btn-mail">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
	</body>
</html>